.*
_*
*.old
*.wip
!.github
!.github/**
!.gitignore
!.gitattributes
!.githooks
*.exe
*.dll
*.log
*.tape
*.gif
bin
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
installer/bin
installer/dist
*.syso
*.json
!manifest.json
